*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    width: 100%;
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    padding: 15px 100px;
    color: white;
}
header nav{
    align-items: center;
    display: flex;
}
header nav a{
    text-decoration: none;
    margin-left: 20px;
    color: white;
    font-size: 20px;
}
h1{
    display: inline;
    background-color: blue;
}
span{
    display: inline-block;
    background-color: red;
    color: white;
    padding: 20px;
    text-align: center;
    margin-right: 100px;
}
